<h1>Tasty Grill</h1>
<h2>Best damn burgers in town!</h2>
<h2>Burgers and Bar Food</h2>
<p>Right about here. No wait, Doc, the bruise, the bruise on your head, I know how that happened, you told me the whole story. you were standing on your toilet and you were hanging a clock, and you fell, and you hit your head on the sink, and that's when you came up with the idea for the flux capacitor, which makes time travel possible. Hey boy, are you alright? Oh, pleased to meet you, Calvin Marty Klein. Do you mind if I sit here? Well looky what we have here. No no no, you're staying right here with me.

Are you sure about this storm? Let's get him. Are you okay? Who is that guy. Oh honey, he's teasing you, nobody has two television sets.

Lynda, first of all, I'm not your answering service. Second of all, somebody named Greg or Craig called you just a little while ago. What? What? You too. Does your mom know about tomorrow night?</p>
<h3>Serving the community since never.</h3>
<h2>Come for the food, stay for the fun</h2>
<p>I'm sure that in 1985, plutonium is available at every corner drug store, but in 1955, it's a little hard to come by. Marty, I'm sorry, but I'm afraid you're stuck here. Are you sure about this storm? Radiation suit, of course, cause all of the fall out from the atomic wars. This is truly amazing, a portable television studio. No wonder your president has to be an actor, he's gotta look good on television. Watch this. Not me, the car, the car. My calculations are correct, when this baby hits eighty-eight miles per hour, your gonna see some serious shit. Watch this, watch this. Ha, what did I tell you, eighty-eight miles per hour. The temporal displacement occurred at exactly 1:20 a.m. and zero seconds. Ohh, no.</p>
<h2>Coolest Bar in Town!</h2>
<h3>On Tap</h3>
<ul>
	<li>Stone</li>
	<li>Lagunitas</li>
	<li>Ranger</li>
	<li>Union Jack</li>
</ul>

<blockquote>
  <p>Tasty Grill is so much fun!</p>
  <footer>— Jenny</footer>
</blockquote>
<blockquote>
  <p>My co-workers and I always come here after work. Happy Hour is the best!</p>
  <footer>— Michael</footer>
</blockquote>
<blockquote>
  <p>The appetizers are delicious!</p>
  <footer>— Sarah</footer>
</blockquote>

